/*27:24*/
@font-face {font-family: lobster; src: url(../fonts/Lobster.woff2);}

@font-face {font-family: pobeda-bold; src: url(../fonts/pobeda-bold.woff2);}

@font-face {font-family: outfit; src: url(../fonts/Outfit-VariableFont_wght.ttf)}

@font-face {font-family: Abel; src: url(../fonts/Prompt-Medium.ttf)}


@media screen and (max-width: 800px) {
	.cards {
    position: absolute;
    width: 100vw;
    height: 10vh;
    margin-top: 400px;
    margin-bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
}

html{
  
  background-color: #000000;
  height: 100%;
  
}
:root{
  --padding: 120px;
} 
a{
  text-decoration: none;
}
* {
	box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}
body {
	background: #111;
	
	padding: 0;
	margin: 0;
  overflow-x: hidden;
}
p{
  text-align: center;
  font-size: 4rem;
  color: rgb(187, 187, 187);
  font-family: pobeda-bold;
}
h2{
  color: #ffffff;
  font-size: 25px;
  margin-left: 27px;
  font-family: pobeda-bold;
  margin-top: 8px;
  padding-bottom: 5px;
}
h2:hover{
  color: rgb(255, 64, 0);
}
h3{
  color: #e5e5e5;
  font-size: 27px;
  
  font-family:'Courier New', Courier, monospace;
  line-height: 45px;
  margin-top: 8px;
  padding-bottom: 5px;
  text-align: center;
}
/* header */
header{
  background-color: black;
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 5;
  
}

/*--MAIN--*/
.main{
  max-width: 100%;
  width: 100%;
  
  height: 450px;
  background-color: black;
}
.main-author{
  height: 100vh;
  background-image: url(../img/author1.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.billboard {
  background-image: url(../img/background-billboard.png);
  background-size: cover;
  
  z-index: 2;
}  

.billboard-text {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-family: pobeda-bold;
  /* background-color: rgb(134, 134, 134); */
  /* border-bottom-left-radius: 10%;
  border-top-right-radius: 10%; */
  border-style: dashed;
  border-color: rgb(255, 64, 0);
  border-style: dashed;
  border-width: 10px;
  
}

.box-1{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  
  margin-bottom: 0;
  
  
}
.box{
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  
  margin-bottom: 0;
  
}

.box-1author{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  
  margin-bottom: 0;
  
  background-color: rgba(0, 0, 0, 0.437);
  
}

.billboard-icon {
  margin-left: 50px;
  /* margin-top: 100px; */
  margin-bottom: 0;
  width: 422px;
  height: 400px;
  z-index: 3;

  
  
} 

/*---SHOWCASE---*/
.showcase{
  background-color: black;
  height: 500px;
  position: relative;
  color: white;
  overflow: hidden;
}
.showcase__video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: cover;
  opacity: .5;
  z-index: 0;
}
.showcase__content-wrapper{
  position: relative;
  z-index: 1;
  height: 100%;
  padding: var(--padding);
}
.showcase__header{
  position: absolute;
  text-align: center;
  width: 100vw;
  margin-left: 0;
  top: 25px;
  font-family: lobster;
  font-size: 32px;
  
  color: rgb(255, 255, 255,  .75);
  z-index: 1;

  background-image: url(../img/background-billboard.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.showcase__header span{
  color: rgb(255, 64, 0);
}

/* FOOTER */
footer{

  
  width: 100vw;
  height: 100px;
  
  margin-bottom: 0;
  
  background-image: url(../img/background-billboard.png);

  color: rgb(255, 64, 0);
  font-size: 10px;
  font-family: pobeda-bold;
  text-align: center;
  position: relative;
  
}
